{% extends "_base.html" %}

{% block content %}
    <div id="users" data-x="10" data-y="15" data-w="10" data-h="5">
        <table>
            <thead>
                <tr>
                    <th data-field="id"    data-type="int">ID</th>
                    <th data-field="name"  data-type="str">Name</th>
                    <th data-field="email" data-type="str">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td data-id="{{loop.index}}"    >{{loop.index}}</td>
                    <td data-name="{{user.name}}"   >{{user.name}}</td>
                    <td data-email="{{user.email}}" >{{user.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div id="t"></div>
    <div id="btn1" data-url="{{url_for('user.v1_num',num=12)}}">XHR1</div>
    <div id="btn2" data-url="{{url_for('user.v2_num',num=12)}}">XHR2</div>
    <div id="btn3" data-url="{{url_for('user.v2_num',num=12)}}">fetch</div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static',filename='js/user/users.js')}}"></script>
{% endblock %}